<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BootCommerce</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <link rel="stylesheet" href="../styles/flex.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="container" class="flex">
        <nav id="navbar" class="flex column justify-around">
            <div class="flex column center">
                <span id="logo-div" class="flex justify-center">
                    <i id="main-icon" class="material-icons">local_grocery_store</i>
                    <h1 id="presentation">BootCommerce</h1>
                </span>
                <span id="legend">Spring boot e-commerce</span>
            </div>
            <div id="categories" class="flex column justify-around">
                <h1>Categorias: </h1>
                <ul>
                    <li>
                        <a href="#">Categoria X</a>
                    </li>
                    <li>
                        <a href="#">Categoria X</a>
                    </li>
                    <li>
                        <a href="#">Categoria X</a>
                    </li>
                    <li>
                        <a href="#">Categoria X</a>
                    </li>
                    <li>
                        <a href="#">Categoria X</a>
                    </li>
                </ul>
            </div>
            <div class="flex justify-center">
                &copy;
                Made by &nbsp;
                <a style="color: white;" href="http://github.com/yuredev">
                    YureDev
                </a>
                , 2020
            </div>
        </nav>
        <div class="w100 flex justify-center">
            <main id="main-area" class="flex column h100 w100">
                <div class="flex justify-around wrap">
                    <section id="recommended" class="flex column">
                        <h1></h1>
                    </section>
                    <section id="shopping-cart" class="flex column h100 justify-center">
                        <h1></h1>
                    </section>
                </div>
            </main>
        </div>
    </div>

</body>
</html>