<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BootCommerce</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <link rel="stylesheet" href="../styles/flex.css" type="text/css">
    <link rel="stylesheet" href="../styles/products.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>  
    <header class="flex justify-center">
        <i class="material-icons">shopping_cart</i>
        <div class="flex column">
            <h1>SpringBootCommerce</h1>
            <div>By: &copy; 
                <a style="color: white;" href="http://github.com/yuredev">
                    yuredev
                </a>
            </div>
        </div>
    </header>  
    <main id="container" class="w100 flex justify-evenly wrap">
        <section id="products">
            <h1>Produtos cadastrados: </h1>
            <div class="product-unity flex column justify-between">
                <div class="flex justify-between">
                    <a href="" class="product-title">Camisa do Metallica</a>
                    <span class="product-price">
                        60,30 R$
                    </span>
                </div>
                <div class="link-div flex justify-between">
                    <a href="">
                        Adicionar ao Carrinho
                    </a>
                    <a class="delete-link" href="#">
                        Deletar
                    </a>
                </div>
            </div>
        </section>
        <section id="recommended">
            <h1>Produtos Recomendados: </h1>
            <div class="product-unity flex column justify-between">
                <div class="flex justify-between">
                    <a href="" class="product-title">Camisa do Metallica</a>
                    <span class="product-price">
                        60,30 R$
                    </span>
                </div>
                <div class="link-div flex justify-between">
                    <a href="">
                        Adicionar ao Carrinho
                    </a>
                    <a class="delete-link" href="#">
                        Deletar
                    </a>
                </div>
            </div>
        </section>
        <section id="shopping-cart">
            <h1>Carrinho de Compras: </h1>
            <div class="product-unity flex column justify-between">
                <div class="flex justify-between">
                    <a href="" class="product-title">Camisa do Metallica</a>
                    <span class="product-price">
                        60,30 R$
                    </span>
                </div>
                <div class="link-div flex justify-center">
                    <a href="" class="delete-link">
                        Remover do Carrinho
                    </a>
                </div>
            </div>
        </section>
    </main>
    <a href="create.html">
        <i id="add-product" class="material-icons">add_circle</i>
    </a>
</body>
</html>