.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.column {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}