.products-div {
    border-style: solid;
    padding: 50px;
}
.product-unity {
    background-color: #ffffffc7;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    border-width: 1px;
    padding: 8px;
    margin: 2px 0px;
    border-radius: 10px;
    height: 60px;
    width: 300px;
}
.product-unity .product-price {
    font-weight: 600;
}
.product-title {
    color: black;
}
.link-div {
    font-size: 0.8rem;
}
.delete-link {
    color: crimson;
}