@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', Tahoma, Geneva;
}

header {
    margin-bottom: 30px;
    background: linear-gradient(rgb(48, 5, 88), rgb(3, 25, 83));
    padding: 5px 0px;
    color: rgb(226, 226, 226);
}

i {
    font-size: 40px !important;
}

#add-product {
    color: rgb(19, 0, 128);
    position: fixed;
    font-size: 90px !important;
    bottom: 30px;
    right: 30px;
}

body {
    background-color: #EDEDED;
}

body, html, #container {
    box-sizing: border-box;
    /* height: 100vh; */
}
